<template>
  <div>
    <div class="field">
      <label class="label">Kode Name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Kode Pendidikan"
          v-model="kode_pendidikan"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Nama Pendidikan</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Nama Pendidikan"
          v-model="nama_pendidikan"
        />
      </div>
    </div>
    <div class="control">
      <button class="button is-success" @click="createPendidikan">SAVE</button>
    </div>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
 
export default {
  name: "AddPendidikan",
  data() {
    return {
      kode_pendidikan: "",
      nama_pendidikan: "",
    };
  },
  methods: {
    // Create New product
    async createPendidikan() {
      try {
        await axios.post("http://localhost:5000/pendidikan/add", {
          kode_pendidikan: this.kode_pendidikan,
          nama_pendidikan: this.nama_pendidikan,
        });
        this.kode_pendidikan = "";
        this.nama_pendidikan = "";
        this.$router.push("/");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
 
<style>
</style>