<template>
  <div>
    <router-link :to="{ name: 'Create' }" class="button is-success mt-5"
      >Add New</router-link
    >
    <table class="table is-striped is-bordered mt-2 is-fullwidth">
      <thead>
        <tr>
          <th>Kode Pendidikan</th>
          <th>Nama Pendidikan</th>
          <th class="has-text-centered">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.kode_pendidikan">
          <td>{{ item.kode_pendidikan }}</td>
          <td>{{ item.nama_pendidikan }}</td>
          <td class="has-text-centered">
            <router-link
              :to="{ name: 'Edit', params: { id: item.kode_pendidikan } }"
              class="button is-info is-small"
              >Edit</router-link
            >
            <a
              class="button is-danger is-small"
              @click="deletePendidikan(item.kode_pendidikan)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
 
export default {
  name: "PendidikanList",
  data() {
    return {
      items: [],
    };
  },
 
  created() {
    this.getPendidikan();
  },
 
  methods: {
    // Get All Products
    async getPendidikan() {
      try {
        const response = await axios.get("http://localhost:5000/pendidikan/view");
        this.items = response.data;
      } catch (err) {
        console.log(err);
      }
    },
 
    // Delete Product
    async deletePendidikan(id) {
      try {
        await axios.delete(`http://localhost:5000/pendidikan/delete/${id}`);
        this.getPendidikan();
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
 
<style>
</style>